@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
	font-family: 'kurdish';
	src: url('/fonts/kurdishText.ttf') format('truetype');
}

*, body {
	font-family: 'kurdish', sans-serif;
}
/* Page transition styles */
.page-transition-enter {
	opacity: 0;
	transform: translateY(10px);
}

.page-transition-enter-active,
.page-transition-leave-active {
	transition:
		opacity 200ms ease-in-out,
		transform 200ms ease-in-out;
}

.page-transition-leave-to {
	opacity: 0;
	transform: translateY(-10px);
}

.dark:bg-gray-800{
	background-color: #252525 !important;
}
